.container {
  background:black;
  height:100vh;
  padding:80px;
  position:relative;
  width:100%;
}

.game-container {
  border:5px solid green;
  height:100%;
  overflow: hidden;
  width:100%;
}

.player {
  height:45px;
  overflow:hidden;
  position:relative;
  width:35px;
}

.player--sprite {
  left:-727px;
  position:absolute;
  top:0px;
  width:800px;
}